# Database connection URL (Format: mysql://user:password@host:port/dbname)
# Example: mysql://root:1234@localhost:3306/destory
DATABASE_URL=mysql://user:password@localhost:3306/dbname

# Server execution port
SERVER_PORT=8080

# Log level configuration (for tracing library)
# Options: error, warn, info, debug, trace
RUST_LOG=api=info